@import "../../../sass/main.scss";

.last-message-container {
  border-radius: 10px;
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  gap: 0.5rem;
  overflow-y: auto;
  background-color: $primaryGrey;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
  .last-message-box {
    overflow: hidden;
    width: 25vw;
    @media (max-width: $chat-md) {
      width: 90vw;
      border: solid red 1px;
    }
    @media (max-width: 760px) {
      width: 85vw;
      border: solid red 1px;
    }
    @media (max-width: 510px) {
      width: 80vw;
      border: solid red 1px;
    }
    @media (max-width: 400px) {
      width: 77vw;
      border: solid red 1px;
    }
    @extend .g-chat-user-container;
    .text {
      overflow: hidden;
      white-space: nowrap;
    }
    .user-statu {
      position: absolute;
      right: 0.3rem;
      top: 0.3rem;
    }
  }
}
